/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquot,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Microsoft JhengHei;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.header-gray {
  background-color: #f6f6f6;
}
.socialmedia {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 5px;
}
.socialmedia li:nth-child(1)::after {
  content: "｜";
  color: #cccccc;
  padding-left: 10px;
  padding-right: 10px;
}
.socialmedia-info {
  font-size: 16px;
}

.socialmedia-info img {
  height: 16px;
}
.socialmedia-info .fb:link,
.fb:visited {
  color: #4460a0;
}

.socialmedia-info .twitter:link,
.twitter:visited {
  color: #00aaec;
}

.header-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-white h1 a {
  background-image: url(../img/hexschool-logo.png);
  display: block;
  height: 52px;
  width: 220px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.socialmedia a:hover {
  color: #00cc99;
}
.menu {
  display: flex;
}

.menu a {
  display: block;
  font-size: 16px;
  padding: 16px 20px 16px 20px;
  color: #00cc99;
  border-bottom: 4px solid transparent;
}
.menu a:hover {
  border-bottom: 4px solid #00cc99;
}
.banner {
  position: relative;
  overflow: hidden;
}
.banner img {
  display: block;
}
.banner h2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 50px 0 50px 20px;
  font-size: 30px;
  line-height: 1.4;
}
.course-list {
  margin-top: 65px;
  justify-content: space-between;
  margin-bottom: 60px;
  display: flex;
}

.course-list img {
  padding-top: 24px;
  padding-bottom: 8px;
}
.course-list h3 {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.course_item {
  width: 30%;
  box-shadow: 0px 1px 2px #a3a1a1;
  padding: 10px;
}
.feature {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  display: block;
  padding: 20px;
  margin-left: 20px;
}
.feature li {
  list-style: disc;
}
.feature li:nth-child(1) {
  list-style: none;
}
.course-list p {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  display: block;
  padding: 20px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

.table {
  width: 840px;
  font-size: 15px;
  margin: 0 auto 60px auto;
}

.table th {
  padding: 10px 0 10px 22px;
  text-align: left;
  background-color: #f7f7f7;
  font-weight: bold;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

.table td {
  padding: 10px 0 10px 22px;
  border-bottom: 1px solid #bbbbbb;
}

.colored {
  color: #11ac86;
}
.background {
  background-image: url(../img/background.png);
}
.form {
  width: 1000px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.form h2 {
  padding: 35px 0 30px 0;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
}

.content {
  width: 460px;
}

.form form {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  color: #ffffff;
}
.form input,
textarea {
  border: 0px;
  border-radius: 3px;
}
.form input {
  display: block;
  width: 100%;
}
.contact_content {
  flex-direction: column;
  width: 460px;
  height: 245px;
  border-radius: 10px;
  position: relative;
}

.contact_content .text {
  height: 30px;
  margin-bottom: 14px;
}

.contact_content label {
  display: block;
  margin-bottom: 10px;
}

.contact_content .submit {
  height: 30px;
  width: 70px;
  background-color: #00cc99;
  color: #ffffff;
  float: right;
}
.submit:hover {
  background-color: #ebcf73;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  align-items: center;
}

.footer img {
  height: 36px;
  width: 170px;
}

.footer a {
  color: #eb73aa;
}
.footer a:hover {
  color: #00cc99;
}

.contact-info li {
  line-height: 1.5;
}
